<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Compose" version="0.1.5-beta" targetFramework="net46" />
  <package id="Microsoft.Framework.Configuration" version="1.0.0-beta6" targetFramework="net46" />
  <package id="Microsoft.Framework.Configuration.Abstractions" version="1.0.0-beta6" targetFramework="net46" />
  <package id="Microsoft.Framework.Configuration.Binder" version="1.0.0-beta6" targetFramework="net46" />
  <package id="Microsoft.Framework.Configuration.Json" version="1.0.0-beta6" targetFramework="net46" />
  <package id="Microsoft.Framework.DependencyInjection" version="1.0.0-beta6" targetFramework="net46" />
  <package id="Microsoft.Framework.DependencyInjection.Abstractions" version="1.0.0-beta6" targetFramework="net46" />
  <package id="Microsoft.Framework.Logging.Abstractions" version="1.0.0-beta6" targetFramework="net46" />
  <package id="Microsoft.Framework.OptionsModel" version="1.0.0-beta6" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net46" />
  <package id="nuget-bot.Microsoft.TeamFoundation.Client" version="12.0.21005.3" targetFramework="net46" />
  <package id="nuget-bot.Microsoft.TeamFoundation.Common" version="12.0.30501.1" targetFramework="net46" />
  <package id="nuget-bot.Microsoft.TeamFoundation.Diff" version="12.0.30501.1" targetFramework="net46" />
  <package id="nuget-bot.Microsoft.VisualStudio.Services.Client" version="12.0.21005.1" targetFramework="net46" />
  <package id="nuget-bot.Microsoft.VisualStudio.Services.Common" version="12.0.21005.1" targetFramework="net46" />
  <package id="nuget-bot.Microsoft.VisualStudio.Services.WebApi" version="12.0.21005.1" targetFramework="net46" />
  <package id="System.Reflection.Emit" version="4.0.0-beta-23019" targetFramework="net46" />
</packages>